---
import Layout from '../layouts/BlogPost.astro'
---

<Layout
  title="About Me"
  description="This is a page about me and me only"
  pubDate={new Date('Aug 31 2023')}
  heroImage="/blog-placeholder-about.jpg"
>
  <p>
    Siwat is a fullstack developer based in Bangkok, Thailand. He has a passion
    for building stuff and learning new things. He codes in many lanauges such
    as Javascript, Typescript, Python, and Elixir. Currently he also learning
    Rust and OCaml as well. When not online, he loves to jump into the
    fascinating world of virtual reality.
  </p>

  <p>
    Siwat is currently looking for a new and exciting job opportunities. If
    you're interested in working with me, please contact me at <a
      href="mailto:siwat.pru@gmail.com">siwat.pru@gmail.com</a
    >
  </p>

  <div>
    <h4>Bio</h4>
    <b>1993</b> Born in Bangkok, Thailand.<br />
    <b>2015</b> Graduated from Mahidol University.<br />
    <b>2015</b> Worked at Sertis as a fullstack developer.<br />
    <b>2023</b> Working as a freelancer.<br />
  </div>
</Layout>
